<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page to Manage Students</title>
</head>
<body>
    <a href="reg_prof">Register a student for entering the website.</a>
    <br>
    <a href="submission_check">View the assignment submission of each student.</a>

    <a href="home">Sign Out</a>
    
</body>
</html>