<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page to Manage Students</title>
    <link rel="stylesheet" href="../public/home_prof.css"/>
</head>
<body>
    <div id="profb">
        <button>
            <a href="reg_prof">Add a Student</a>
        </button>
    </div>
    <div id="profb">
        <button>
            <a href="submission_check">Manage Student</a>
        </button>
    </div>
     
    <br><br>
    <form method="POST" action="/announce">
        <textarea name="announce">Post Announcement</textarea>
        <button type="submit">Submit</button>
    </form>
    <br><br>
    <a id="return" href="home">Sign Out</a>
</body>
</html>