<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css"
    />

    <link rel="stylesheet" href="../mainpage.css" />
    <title>CISC 4900 | Brooklyn College</title>
  </head>
  <body class="bg-white antialiased">
    <header>
      <nav class="bg-black px-2 sm:px-4 py-2.5">
        <div
          class="container flex flex-wrap items-center justify-between mx-auto"
        >
          <a href="home" class="flex items-center">
            <img
              class="mr-2 rounded-full h-9 w-9"
              src="images/133-1337610_brooklyn-college-wikipedia-cuny-brooklyn-college-logo-hd.png"
              alt=""
            />
            <span
              class="self-center text-xl font-light tracking-wide text-white whitespace-nowrap"
            >
              CISC 4900</span
            >
          </a>
          <div class="flex md:order-2">
            <!-- <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log In</button> -->
            <a
              href="login"
            >
              <span class="relative inline-flex">
                <button
                  type="button"
                  class="inline-flex items-center leading-6 transition duration-150 ease-in-out text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-sm px-5 py-2.5 text-center md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Log In
                </button>
                <span class="absolute top-0 right-0 flex w-3 h-3 -mt-1 -mr-1">
                  <span
                    class="absolute inline-flex w-full h-full rounded-full opacity-75 animate-ping bg-sky-400"
                  ></span>
                  <span
                    class="relative inline-flex w-3 h-3 rounded-full bg-sky-500"
                  ></span>
                </span> </span
            ></a>

            <button
              data-collapse-toggle="mobile-menu-4"
              type="button"
              class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="mobile-menu-4"
              aria-expanded="false"
            >
              <svg
                class="w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <svg
                class="hidden w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            id="mobile-menu-4"
          >
            <ul
              class="flex flex-col mt-4 mr-2 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
            >
              <li>
                <a
                  href="home"
                  class="block py-2 pl-3 pr-4 text-lg font-light text-white bg-blue-700 rounded md:bg-transparent md:text-blue-400 md:p-0 dark:text-white"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="https://tables.area120.google.com/form/akyNkWld3r2d58MQ7Uk_SK/t/bSxM1j8iFrs0Aa4iKlIOHEb6C0Vr2rmUldkOzTIv7_ViawPatvxmroq9AzywEBYkqW"
                  class="block py-2 pl-3 pr-4 text-lg font-light text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Enrollment</a
                >
              </li>
              <li>
                <a
                  href="https://www.sci.brooklyn.cuny.edu/4900/requirements/"
                  class="block py-2 pl-3 pr-4 text-lg font-light text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Course Requirements</a
                >
              </li>
              <li>
                <a
                  href="https://www.sci.brooklyn.cuny.edu/4900/faq/"
                  class="block py-2 pl-3 pr-4 text-lg font-light text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >FAQ</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Front Section -->
    <section>
      <div
        class="grid items-center h-screen space-x-4 lg:grid-cols-2 justify-center w-full"
      >
        <div class="mx-auto">
          <h1 class="p-3 pl-2 text-5xl font-medium">CISC 4900/4905</h1>
          <p class="p-3 text-lg text-gray-600">
            Independent and Group Projects
          </p>
          <p class="p-3 text-gray-700">
            Department of Computer & Information Science, Brooklyn College
          </p>
        </div>

        <div class="lg:pr-7 pr-3">
          <img
            class="overflow-hidden rounded-lg shadow-xl"
            src="images/robot-g34a6bae32_1920.jpg"
            alt=""
          />
        </div>
      </div>
    </section>

    <!-- Front Section -->

    <!-- Site Divider -->
    <section>
      <div class="flex justify-center p-10">
        <h2 class="mb-4 text-2xl font-light text-gray-600">
          This course requires completion of a project during the semester of
          enrollment.
        </h2>
      </div>
    </section>
    <!-- Site Divider -->

    <!-- Cards Section -->
    <section>
      <div
        class="grid gap-5 p-10 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3"
      >
        <div class="overflow-hidden rounded shadow-lg">
          <img
            class="w-full"
            src="images/green-chameleon-s9CC2SKySJM-unsplash.jpg"
            alt=""
          />
          <div class="px-6 py-4">
            <div class="mb-2 text-xl font-semibold">Enroll in CISC 4900</div>
            <p class="pt-1 text-gray-700">
              CISC 4900 enrollment requires department permission for
              registration. Please contact Prof. Katherine Chuang or Prof.
              Yedidyah Langsam regarding enrollment for CISC 4900.
            </p>
          </div>

          <div class="px-6 pt-6 pb-9">
            <a
              href="https://tables.area120.google.com/form/akyNkWld3r2d58MQ7Uk_SK/t/bSxM1j8iFrs0Aa4iKlIOHEb6C0Vr2rmUldkOzTIv7_ViawPatvxmroq9AzywEBYkqW"
            >
              <button
                class="inline-block px-4 py-2 mb-2 mr-2 text-sm font-light tracking-wide text-white rounded-lg bg-gradient-to-r from-sky-800 to bg-sky-200 hover:animate-pulse"
              >
                Sign up for mailing list
              </button>
            </a>
          </div>

          <div class="px-6 pt-4 pb-12">
            <p class="text-xs font-light text-gray-700">
              *Permission is only granted to those who are graduating in the
              upcoming semester, barring exceptional circumstances.
            </p>
          </div>
        </div>

        <div class="overflow-hidden rounded shadow-lg">
          <img
            class="w-full"
            src="images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg"
            alt=""
          />
          <div class="px-6 py-4">
            <div class="mb-2 text-xl font-semibold">Internship</div>
            <p class="pt-1 text-gray-700">
              Students may use projects at work for their CISC 4900 project.
              Internships typically applying far in advance of seeking
              enrollment. Please refer below for opportunities.
            </p>
          </div>

          <div class="px-6 pt-6 pb-9">
            <a
              href="https://www.sci.brooklyn.cuny.edu/4900/2022/spring/resources/"
            >
              <button
                class="inline-block px-4 py-2 mb-2 mr-2 text-sm font-light tracking-wide text-white rounded-lg bg-gradient-to-r from-sky-800 to bg-sky-200 hover:animate-pulse"
              >
                View Internship Opportunities
              </button>
            </a>
          </div>

          <div class="px-6 pt-4 pb-12">
            <p class="text-xs font-light text-gray-700">
              Employer :
              <a
                class="underline text-sky-600"
                href="https://www.sci.brooklyn.cuny.edu/4900/2022/spring/resources/"
                >Post your internship opportunity</a
              >
            </p>
          </div>
        </div>

        <div class="overflow-hidden rounded shadow-lg">
          <img
            class="w-full"
            src="images/nicole-wolf-CZ9AjMGKIFI-unsplash.jpg"
            alt=""
          />
          <div class="px-6 py-4">
            <div class="mb-2 text-xl font-semibold">Project</div>
            <p class="pt-1 text-gray-700">
              Students may find their own project, within or outside the school
              from a suitable supervisor. Projects don't necessarily have to be
              technically inclined or programming heavy.
            </p>
          </div>

          <div class="px-6 pt-6 pb-9">
            <a
              href="https://www.sci.brooklyn.cuny.edu/4900/2022/spring/resources/"
            >
              <button
                class="inline-block px-4 py-2 mb-2 mr-2 text-sm font-light tracking-wide text-white rounded-lg bg-gradient-to-r from-sky-800 to bg-sky-200 hover:animate-pulse"
              >
                Getting Started with CISC 4900
              </button>
            </a>
          </div>

          <div class="px-6 pt-4 pb-12">
            <p class="text-xs font-light text-gray-700">
              Have a project?
              <a
                class="underline text-sky-600"
                href="https://tables.area120.google.com/form/9r5Bf53aPgV0UqjLcb6_M2/t/8q2gZsbCqo31_CfY4p5kyFbUR2PFhc1H26eQf0jXv4Xo8kG0UJV-AAB97hIzfzz__I"
              >
                Let us know about your project.</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Cards Section -->

    <!-- Site Divider -->

    <!-- <section>
      <div class="flex justify-center p-10">
        <h2 class="mb-4 text-2xl font-light text-gray-600">Contact Us</h2>
      </div>
    </section> -->
    <!-- Site Divider -->

    <!-- Contact Us -->

    <section>
      <div class="antialiased bg-white">
        <div class="flex items-center justify-center w-full min-h-screen">
          <div
            class="flex flex-col w-full max-w-6xl p-8 text-white rounded-lg shadow-2xl bg-[url('images/1593847206371.jpeg')] space-y-6 md:flex-row md:space-x-6 md:space-y-0 sm:p-12 bg-cover"
          >
            <div class="flex flex-col justify-between space-y-8">
              <div>
                <h1 class="text-4xl font-bold tracking-wide">Contact Us</h1>
                <p class="pt-2 text-sm text-cyan-100">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Soluta explicabo excepturi laudantium illo rem tempora quia
                  quam officiis quos
                </p>
              </div>
              <div class="flex flex-col space-y-6">
                <div class="inline-flex items-center space-x-2">
                  <ion-icon name="call" size="small"></ion-icon>
                  <span>(718) 951-5000</span>
                </div>

                <div class="inline-flex items-center space-x-2">
                  <ion-icon name="mail" size="small"></ion-icon>
                  <span>chuang@sci.brooklyn.cuny.edu</span>
                </div>

                <div class="inline-flex items-center space-x-2">
                  <ion-icon name="location" size="small"></ion-icon>
                  <span>2900 Bedford Ave, Brooklyn, NY 11210</span>
                </div>
              </div>

              <div class="flex space-x-4">
                <a href="https://www.facebook.com/brooklyncollege/">
                  <ion-icon name="logo-facebook" size="small"></ion-icon>
                </a>
                <a
                  href="https://twitter.com/BklynCollege411?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                >
                  <ion-icon name="logo-twitter" size="small"></ion-icon>
                </a>
                <a href="#">
                  <ion-icon name="logo-linkedin" size="small"></ion-icon>
                </a>
                <a
                  href="https://www.instagram.com/accounts/login/?next=/bklyncollege411/"
                >
                  <ion-icon name="logo-instagram" size="small"></ion-icon>
                </a>
              </div>
            </div>

            <div>
              <div class="p-8 font-light text-gray-600 rounded-lg md:w-80">
                <form action="" class="flex flex-col space-x-4 space-y-8">
                  <div>
                    <label for="" class="text-sm font-light">Your Name</label>

                    <input
                      type="text"
                      class="w-full px-4 py-2 mt-2 bg-transparent rounded-md shadow-sm outline-none focus:ring-1 focus:ring-sky-500"
                    />
                  </div>

                  <div>
                    <label for="" class="text-sm font-light">Email</label>

                    <input
                      type="text"
                      class="w-full px-4 py-2 mt-2 bg-transparent rounded-md shadow-sm outline-none focus:ring-1 focus:ring-sky-500"
                    />
                  </div>

                  <div>
                    <label for="" class="text-sm font-light">Message</label>

                    <textarea
                      rows="6"
                      class="w-full px-4 py-2 mt-2 bg-transparent rounded-md shadow-sm outline-none resize-none focus:ring-1 focus:ring-sky-500"
                    ></textarea>
                  </div>

                  <button
                    class="self-end inline-block px-6 py-2 text-sm text-gray-700 bg-white rounded-lg bg-opacity-70"
                  >
                    Send Message
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us -->

    <footer>
      <footer class="px-4 pt-40 divide-y">
        <div
          class="container flex flex-col justify-between mx-auto mb-6 space-y-8 lg:flex-row lg:space-y-0"
        >
          <div class="lg:w-1/3">
            <a href="" class="flex justify-center">
              <div class="flex w-12 h-12">
                <img
                  class="mr-2 rounded-full w-9 h-9"
                  src="images/133-1337610_brooklyn-college-wikipedia-cuny-brooklyn-college-logo-hd.png"
                  alt=""
                />
              </div>
              <span class="text-2xl font-light tracking-wide text-gray-700"
                >CISC 4900/4905</span
              >
            </a>
          </div>

          <div
            class="grid grid-cols-2 text-sm gap-x-3 gap-y-8 sm:grid-cols-4 lg:w-2/3"
          >
            <div class="space-y-3">
              <h3 class="uppercase text-[#5979a0] tracking-wide">
                Instructors
              </h3>
              <ul class="space-y-1">
                <li>
                  <a
                    href="https://www.brooklyn.cuny.edu/web/academics/schools/naturalsciences/faculty_details.php?faculty=1412"
                    >Katherine Chuang</a
                  >
                </li>
                <li>
                  <a href="">AJ Lapid</a>
                </li>
                <li>
                  <a
                    href="https://www.brooklyn.cuny.edu/web/academics/faculty/faculty_profile.jsp?faculty=248"
                    >Gerald Weiss</a
                  >
                </li>
              </ul>
            </div>

            <div class="space-y-3">
              <h3 class="uppercase text-[#5979a0] tracking-wide">
                About the Course
              </h3>
              <ul class="space-y-1">
                <li>
                  <a href="">Catalog Description</a>
                </li>
                <li>
                  <a
                    href="https://tables.area120.google.com/form/akyNkWld3r2d58MQ7Uk_SK/t/bSxM1j8iFrs0Aa4iKlIOHEb6C0Vr2rmUldkOzTIv7_ViawPatvxmroq9AzywEBYkqW"
                    >Permission Request</a
                  >
                </li>
                <li>
                  <a href="https://www.sci.brooklyn.cuny.edu/4900/requirements/"
                    >Course Requirements</a
                  >
                </li>
                <li>
                  <a href="https://www.sci.brooklyn.cuny.edu/4900/faq/">FAQ</a>
                </li>
              </ul>
            </div>

            <div class="space-y-3">
              <h3 class="uppercase text-[#5979a0] tracking-wide">
                Project Resources
              </h3>
              <ul class="space-y-1">
                <li>
                  <a href="https://guides.drkat.dev/">Getting Started Guides</a>
                </li>
                <li>
                  <a href="https://cloud.google.com/training"
                    >Google Cloud Platform Training</a
                  >
                </li>
              </ul>
            </div>

            <div class="space-y-3">
              <h3 class="uppercase text-[#5979a0] tracking-wide">
                Social Media
              </h3>
              <div class="container flex justify-start space-x-3">
                <a href="https://www.facebook.com/brooklyncollege/">
                  <ion-icon
                    name="logo-facebook"
                    style="font-size: 24px"
                  ></ion-icon>
                </a>
                <a
                  href="https://twitter.com/BklynCollege411?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                >
                  <ion-icon
                    name="logo-twitter"
                    style="font-size: 24px"
                  ></ion-icon>
                </a>
                <a href="">
                  <ion-icon
                    name="logo-linkedin"
                    style="font-size: 24px"
                  ></ion-icon>
                </a>
                <a
                  href="https://www.instagram.com/accounts/login/?next=/bklyncollege411/"
                >
                  <ion-icon
                    name="logo-instagram"
                    style="font-size: 24px"
                  ></ion-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center text-[#5979a0] text-sm py-8">
          © 2022 Company Co. All rights reserved
        </div>
      </footer>
    </footer>
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
