<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page to Manage Students</title>
    <link rel="stylesheet" href="/home_prof.css"/>
    <link rel="stylesheet" href="table.css"/>
</head>
<body>

    <a id="return" href="home">Sign Out</a>

    <div id="profb">
        <button>
            <a href="reg_prof">Add a Student</a>
        </button>
    </div>
    <div id="profb">
        <button>
            <a href="submission_check">Manage Student</a>
        </button>
    </div>
     
    <br><br>

    <h4>Post Announcement:</h4>
    <form method="POST" action="/announce">
        <textarea name="announce"></textarea>
        <button type="submit">Submit</button>
    </form>

    <h2>Announcements</h2>
    
    <table>
        <thead>
            <th scope="col">Date</th>
            <th scope="col">Announcement</th>
        </thead>
        <tbody>
            <% announceList.forEach(Announcement=>{  %>
                <tr>
                    <td><%= Announcement.PostDate %></td>
                    <td><%= Announcement.Announcement %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>