<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Login</title>
    <link rel="stylesheet" href="login_prof.css"/>
</head>
<body>

    <div class="login">
        <h1>Professsor Login</h1>
          <form method="POST" action="./home_prof">
            <input type="text" name="profid" placeholder="Username" required="required" />
            <input type="password" name="profpass" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
          </form>
      </div>

</body>
</html>