<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <script></script>
</head>
<body>
    <h1>Registration Form for CISC4900/CISC4905:</h1>
    <form method="POST" action="/request">
        <label>LastName:<input name="student_lname" required></label>
        <br>
        <label>FirstName:<input name="student_fname" required></label>
        <br>
        <label>EmpleID:<input name="student_id" required></label>
        <br>
        <label>Academic Level:<input name="student_level" required></label>
        <br>
        <label>Major:<input name="student_major" required></label>
        <br>
        <label>Email:<input name="student_email" required></label>
        <br>
        
        <input type="submit" value="Register">
    </form>

</body>
</html>