body {
    background-color: aquamarine;
}

form.add{
    display:block;
    background-color: aqua;
    margin: 30px;
    width:20%
}

button.back{
    background-color: red;
    margin:30px;
    width:70px;
}

